@import '../../scss/colors.scss';
@import '../../scss/mixins.scss';

.landing_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #00232c;
	margin: 15px;
	border-radius: 8px;
	> h1 {
		@include gradient_text;
		font-size: 50px;
		text-align: center;
		padding: 20px 10px;
		margin-bottom: 0;
		> svg {
			color: $purple-color;
		}
	}
	> p {
		font-size: 20px;
		color: #eee;
		padding: 0 10px;
		text-align: center;
	}
}
.grid_intro {
	margin: 50px 15px;
	> h2 {
		color: $blue-color;
	}
}
.landing_grid {
	display: grid;
	grid-template-columns: 1fr;
	justify-content: center;
	align-items: stretch;
	grid-gap: 25px;
	margin: 20px 15px;
	@media (min-width: 600px) {
		grid-template-columns: 1fr 1fr 1fr;
	}
	> div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 10px;
		border: 1px solid $pink-color;
		border-radius: 5px;
		transition: all 0.4s ease-in-out;
		&:hover {
			transform: scale(1.04);
			background-color: #00232c;
		}
		> p:first-child {
			font-size: 22px;
			color: $blue-color;
			font-weight: bold;
			text-align: center;
		}
		> p:last-child {
			font-size: 16px;
			color: #eee;
			text-align: center;
		}
	}
}
.btn_group {
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
	margin: 50px 15px;
	> button {
		max-width: 600px;
		@include gradient_button;
	}
}
