@import '../../scss/colors.scss';

.search_container {
	display: flex;
	justify-content: center;
	align-items: stretch;
	max-width: 725px;
	margin: 0 auto;
	> input {
		border: none;
		width: 100%;
		font-size: 18px;
		padding: 5px;
		background-color: #292929;
		border: 1px solid $blue-color;
		border-bottom-left-radius: 5px;
		border-top-left-radius: 5px;
		color: lighten($pink-color, 15%);
		&::placeholder {
			color: #707070;
		}
	}
	> button {
		background: none;
		border: none;
		outline: none;
		background-color: $blue-color;
		color: #eee;
		border: 1px solid $blue-color;
		border-bottom-right-radius: 5px;
		border-top-right-radius: 5px;
		cursor: pointer;
		> svg {
			font-size: 20px;
			font-weight: bold;
		}
	}
}
