@import '../../scss/colors.scss';

.search_container {
	display: flex;
	justify-content: center;
	align-items: stretch;
	max-width: 725px;
	margin: 0 auto;
	padding: 0 10px;
	margin-bottom: 35px;
	> input {
		border: none;
		width: 100%;
		font-size: 18px;
		padding: 10px;
		background-color: #eee;
		border-radius: 5px;
		&::placeholder {
			color: #707070;
		}
	}
	> button {
		background: none;
		border: none;
		outline: none;
		background-color: $pink-color;
		color: #eee;
		border-radius: 5px;
		cursor: pointer;
		margin-left: 5px;
		> svg {
			font-size: 25px;
			font-weight: bold;
		}
	}
}
